<!-- template for viwing all entries -->

{% extends './base.html' %}
{% block all %}
  <div id='pastes-container'>
    <input type="text" placeholder='filter by username' id="filter-author">
    <div id="pastes" style="padding: 15px">
      <div class="paste">
        {% for tuple in id_author %}
          <a href='{{ tuple[0] }}' name='{{ tuple[1] }}'>{{ tuple[0] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>


  <script>
  /*
   * If you're wondering why I'm using window.onload, it's because when this
   * loads, jquery isn't loaded yet.
   */
  window.onload = function() {
    $paste = $('.paste')
    $pastes = $paste.find('a')

    $('input').keyup(function(e) {
      var value = this.value
      toggle(value)
    })

    function toggle(value) {
      $found = $pastes.filter('[name="' + value + '"]')
      if (!$found.length) {
        $paste.html('Nothing found')
      } else {
        $paste.empty()
        $.each($found, function(i, e) {
          $paste.append(e)
        })
      }
    }
  }
  </script>
{% endblock %}