<!-- template for viewing an entry -->

{% extends './base.html' %}

{% block entry %}
  <ul class="tabs">
    {% for tab in doc.tabs %}
      <li {% if loop.first %} class="active" {% endif %} >
        {{ tab }}
      </li>
    {% endfor %}
  </ul>

  <style type="text/css">
      table:not(:first-of-type) {display: none}
  </style>


  <div id='pastes-container'>

    <a class="button" id="reply">reply</a>
    <a class="button" id='button-clipboard'></a>
    <div id="pastes">

    <!-- loop through each text -->
      {% for paste in doc.pastes %}
      <table border="0" cellpadding='0' cellspacing='0'>
          <tr>
            <td>
              <ul class='line-numbers'>
                {% for line in doc.lines[loop.index0] %}
                  <li>{{ line }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class='paste'>
              <div class="paste-overlay"><!-- overlay clipboard notification --></div>
              <pre>{{ paste }}</pre>
            </td>
          </tr>
      </table>
      {% endfor %}
    </div>

    <div id="entry-info">
      <ul>
        <li class="author">{{ doc.author }}</li>
        <li class="date">{{ doc.date }}</li>
      </ul>

      <ul id="family-tree">
        {% for parent in doc.parents %}
          <li><a href="{{ parent }}">{{ parent }}</a> &raquo; </li>
        {% endfor %}

        <li class="current">{{ doc.id }}</li>

        {% for child in doc.children %}
          <li>  &raquo; <a href="{{ child }}">{{ child }}</a> </li>
        {% endfor %}
      </ul>
    </div>

  </div>


<!--
We store the un-hilighted version in a hidden div (#original).
So when we hit reply, instead of getting
the hilighted text, which is filled with <spans> from the hilighting,
we get texts from this hidden div. This 'raw' data is stored in
localStorage when user hits reply. User is then redirected to /
where we load content from the dataStorage.
-->
<div id="original" style="display: none">
  {{ jsonDoc }}
</div>


<script src='./js/zeroclipboard/ZeroClipboard.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

<script>
  var preTags = document.querySelectorAll("pre")
  Array.prototype.forEach.call(preTags, hljs.highlightBlock);



  if (!window.location.pathname.match(/\/$|\/about|\/all/i)) {

    var clipboardButton = document.getElementById("button-clipboard") || ''

    ZeroClipboard.config({forceEnhancedClipboard: true})
    var client = new ZeroClipboard(clipboardButton);


    ZeroClipboard.on("ready", function( readyEvent ) {
      clipboardButton.style.display = 'block'
    });


    ZeroClipboard.on('aftercopy', function(e) {
      console.log('d')
      console.log(e)
    })

    ZeroClipboard.on('error', function(e) {
      console.log('error')
      console.log(e)
    })
    var copyresult;

    ZeroClipboard.on("copy", function(event) {
      var $table = $('table').filter(':visible')
      var tableIndex, entry
      var clipboard = event.clipboardData;

      tableIndex = $table.index()
      try {
        entry = JSON.parse($('#original').text().trim())
      } catch (e) {
        console.log('error: ', e)
        copyresult = true
      }
      clipboard.setData("text/plain", 'z')
    })

   /* client.on( "aftercopy", function(event) {
      var c = copyresult ? 'overlay-error' : 'overlay-success'
      $('table').filter(':visible')
      .find('.paste-overlay').addClass(c)
      .css('z-index', '2')
      .fadeIn(100, function() {
        $(this).fadeOut()
      })
    });*/
  }

  // change theme colors based on time
  var date = new Date()

  var theme = date.getHours() >= 20 || date.getHours() <= 8 ? 'rainbow' : '_github'
  var head  = document.getElementsByTagName('head')[0];
  var link  = document.createElement('link');
  link.rel  = 'stylesheet';
  link.type = 'text/css';
  link.href = './js/highlightjs/styles/' + theme + '.css';
  head.appendChild(link);
</script>



{% endblock %}
