{% extends './base.html' %}

{% block new %}
<ul class="tabs">
  <li class="active" contenteditable="true">untitled</li>
  <li id="new-tab">+</li>
</ul>

<form>
  <div class="textareas">
    <textarea autofocus name="contents" id="" cols="80" rows="30"></textarea>
  </div>

  <input type="text" id="fake" /><!-- minimal captcha -->
  <input type="submit" value="paste" />
  <div id="username">
    <label>
      post as
      <input type="text"  maxlength=15 id='author' />
      </label>
  </div>
</form>
{% endblock %}