{% extends 'layout.html' %}


{% block tabs %}

	<ul class="tabs">
		{% for tab in result.tabs %}
			<li {% if loop.first %} class="active" {% endif %} >


				{{ tab }}
			</li>
		{% endfor %}
	</ul>

{% endblock %}




{% block view_paste %}

	
	<style type="text/css">
		table:not(:first-of-type) {display: none}	
	</style>


	<div id='pastes-container'>

		
		<a class="button" id="reply">reply</a>
		<a id='button-clipboard' alt='copy to clipboard' title='copy to clipboard'></a>
		


		<div id="pastes">

		<!-- loop through each text -->
			{% for index, text in result.texts %}
			<table border="0" cellpadding='0' cellspacing='0'>				
					<tr>
						<td>
							<ul class='line-numbers'>
								{% for list in result.lines[index] %}
									<li>{{ list }}</li>		
									
								{% endfor %}
							</ul>
						</td>
						<td class='paste'>
							<!-- overlay for clipboard notification -->
							<div class="paste-overlay"></div>

							<pre>{{ text }}</pre>
						</td>
					</tr>		
			</table>
			{% endfor %}


		</div>
		

	
		<div id="entry-info">

			<ul>
				<li class="author">Anonymous</li>
				<li class="date">{{ result.date | date('m/d/Y') }}</li>
				
			</ul>
			
			<ul id="family-tree">
				{% for parent in result.parents %}
					<li><a href="{{ parent }}">{{ parent }}</a> &raquo; </li>
				{% endfor %}

				<li class="current">{{ result.id }}</li>

				{% for child in result.children %}
					<li>  &raquo; <a href="{{ child }}">{{ child }}</a> </li>
				{% endfor %}					
			</ul>

		</div>
		
	</div>

	<script type="text/javascript">	
		$('pre').each(function(i, e) {
			hljs.highlightBlock(e);
		});



	/*
	 * Hitting 'reply' stores data in the browser
	 * so we can retrieve it after redirecting to /
	 */
	$('#reply').click(function() {
		var texts = [], tabs = []
		
		var original_entry = JSON.parse($('#original').text().trim())
		
		localStorage.id = original_entry.id
		localStorage.tabs = JSON.stringify(original_entry.tabs);
		localStorage.texts = JSON.stringify(original_entry.texts);
		
		window.document.location.assign('/');
	})








</script>





{% endblock %}
